<section class="hero" *ngIf="usuario">
    <div class="imgHero"></div>
    <div class="textoHero">
        <div class="edicionHero">
            <div class="nombre">
            <h1>{{usuario.nombre}}</h1>
            <!-- Boton Editar -->
            <button type="button" class="admin" data-bs-target="#editUsuarioModal" data-bs-toggle="modal"
                (click)="agregarAEdit(usuario)" data-original-title="Edit">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen"
                    viewBox="0 0 16 16">
                    <path
                        d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
                </svg></button>
            </div>
            <h3> {{usuario.posicion}}</h3>
            <p><em>{{usuario.locacion}}</em></p>
        </div>

            <h3>Acerca de</h3>
        <div class="divParrafo" *ngIf="usuario">
            <div class="parrafo"> {{usuario.aboutMe}}</div>
        </div>
    </div>
    <!-- Modal Editar -->
    <div class="modal fade" id="editUsuarioModal" tabindex="-1" aria-labelledby="modalUsuario" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fs-5" id="modalUsuario">Editar</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form #editForm="ngForm">
                        <input type="hidden" ngModel="1" name="id" class="form-control" id="id"
                        placeholder="" />
        
                        <div class="mb-3">
                            <label for="nombre" class="col-form-label">Nombre:</label>
                            <input type="text" class="form-control" id="nombre1" ngModel="{{ editUsuario?.nombre }}"
                                name="nombre" placeholder="Editar el nombre del usuario" required>
                        </div>
                        <div class="mb-3">
                            <label for="posicion" class="col-form-label">Posicion:</label>
                            <input type="text" class="form-control" id="posicion1" ngModel="{{ editUsuario?.posicion }}"
                                name="posicion" placeholder="Edite la posicion" required>
                        </div>
                        <div class="mb-3">
                            <label for="locacion" class="col-form-label">Locacion:</label>
                            <input type="text" class="form-control" id="locacion1" ngModel="{{ editUsuario?.locacion }}"
                                name="locacion" placeholder="Edite su ubicacion" required>
                        </div>

                        <div class="mb-3">
                            <label for="aboutMe" class="col-form-label">Sobre Mi:</label>
                            <input type="text" class="form-control" id="aboutMe1" ngModel="{{ editUsuario?.aboutMe }}"
                                name="aboutMe" placeholder="Edite intereses, gustos, proyectos, etc" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btnEduSecondary" data-bs-dismiss="modal"
                        id="1">Cerrar</button>
                    <button type="button" class="btn btn-primary btnEdu" id="add-educacion-form"
                        (click)="onEditUsuario(editForm.value)" data-bs-dismiss="modal">Agregar</button>
                </div>
            </div>
        </div>
    </div>
</section>